.hide{display:none}

body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    border: 2px solid powderblue;
    padding: 30px;
}

  quiz-container {
    color: red;
    font-family: verdana;
    font-size: 150%;
    border: 2px solid powderblue;
    margin: 50px;
  }